# Windows

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# NetBeans IDE

nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Phix

.build/
.tmp/
review/
vendor/

# phpDocumentor

phpdoc.xml

# PHPUnit

phpunit.xml
